.card {
  background-color: rgb(93, 142, 151);
  color: antiquewhite;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: rgb(8, 113, 125);
}
.header {
  margin-bottom: 100px;
}

.contact-me {
  margin-top: 30px;
  color: white;
  font-family: monospace;
  font-size: 20px;
}

.social-media {
  margin-top: 20px;
}

.social-media a {
  text-decoration: none;
  margin-right: 10px;
}
html,
body {
  /* height: 100%; */
}

.nav a {
  font-family: cursive;
  font-size: 30px;
}

.fs-1 {
  font-family: cursive;
}

.p-3 h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: antiquewhite;
}
.col-sm-8 h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 50px;
  color: antiquewhite;
}
.col-sm-8 p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: antiquewhite;
  font-size: 20px;
}
.btn-light {
  background-color: honeydew;
  color: darkslategrey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
